@use "../utilities" as *;

.navigation {
    display: flex;
    align-items: center;
    padding: 0 toRem(16) toRem(16) toRem(24);
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-neutral-1075);
    
    @include respond-to(extra-small) {
        padding: 0 toRem(16) toRem(16) toRem(16);
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        width: 100dvw;
        padding-top: toRem(16);
        background-color: var(--clr-ble-300);
        box-shadow: var(--shw-light-bottom);
        z-index: 99;
    }

    &--header {
        @include respond-to(medium) {
            flex-direction: column;
            align-items: flex-start;
            gap: toRem(24);
        }

        @include respond-to(small) {
            gap: toRem(16);
        }

        @include respond-to(extra-small) {
            flex-direction: row;
        }
    }

    &--footer {
        padding: toRem(32) 0;
        border-bottom: 0;

        @include respond-to(extra-small) {
            display: none;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        gap: toRem(40);

        @include respond-to(medium) {
            gap: toRem(12);
        }

        @include respond-to(extra-small) {
            display: none;
        }

        &--footer {
            gap: toRem(80);

            @include respond-to(large) {
                gap: toRem(20);
            }
        }
    }
}