@use "../utilities" as *;

.social {
    &__list {
        list-style: none;
        display: flex;
        gap: toRem(24);
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        text-decoration: none;
        background-color: transparent;
        transition: background-color .3s;
        padding: toRem(6) toRem(8) 0 toRem(8);
    }

    &__link:hover,
    &__link:active {
        background-color: var(--clr-neutral-1075);
    }

    &__link-icon {
        display: inline-block;
        height: 28px;
        width: 28px;
        fill: var(--clr-neutral-300);
    }
}
