@use "../utilities" as *;

body {
    background-color: var(--clr-neutral-100);
}

article {
    padding: toRem(96) toRem(16);

    @include respond-to(small) {
        padding: toRem(64) toRem(16);
    }

    @include respond-to(extra-small) {
        padding: toRem(48) toRem(16);
    }
}

.container {
    max-width: toRem(1170);
    margin: 0 auto;
}

.copyright {
    color: var(--clr-neutral-400);

    @include respond-to(medium) {
        order: 2;
        font-size: var(--fs-200);
    }
}

strong {
    color: var(--clr-brn-400);
}