@use "../utilities" as *;

.section-menu {
    background-color: var(--clr-neutral-100);

    article {
        padding: toRem(96) toRem(16);

        @include respond-to(extra-small) {
            padding: toRem(48) toRem(16);
        }
    }
}